<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>


<servlet>
	<servlet-name>ConsultaController</servlet-name>
	<display-name>ConsultaController</display-name>
	<description></description>
	<servlet-class>controller.ConsultaController</servlet-class>
</servlet>

<servlet>
	<servlet-name>CamposController</servlet-name>
	<display-name>CamposController</display-name>
	<description></description>
	<servlet-class>controller.CamposController</servlet-class>
</servlet>

  <servlet-mapping>
  	<servlet-name>CamposController</servlet-name>
  	<url-pattern>/campos</url-pattern>
  </servlet-mapping>


  <servlet-mapping>
  	<servlet-name>ConsultaController</servlet-name>
  	<url-pattern>/tfg</url-pattern>
  </servlet-mapping>

</web-app>
